save-exact=true # Instalar versoes de dependencia fixa nao vai ter ^ nas versões
# existe um bot (repo no git hub) chamado renovatebot
# ele atualiza as dependencias automaticamente e verifica se quebrou o projeto